:root {
    /* colores */
    --Linear-BG: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --Bitcoin-Orange: #F7931A;
    --Soft-Orange: #FFE9D5;
    --Secondary-Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black: #201E1C;
    --Warm-Black1: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-White: #ffffff;
    --Grey2: #757575;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 65.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
/* inicio del header */
header {
    position: relative;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Linear-BG);
}
.header__logo {
    margin: 39px 0 33px;
}
header section{
    display: flex;
    flex-direction: column;
}
header h1 {
    width: 288px;
    align-self: center;
    margin-bottom: 24px;
    text-align: center;
    color: var(--Just-White);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
}
header p {
    width: 288px;
    align-self: center;
    text-align: center;
    color: var(--Soft-Orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
}
.header__bottom {
    position: absolute;
    top: 268px;
    width: 237px;
    height: 48px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--Warm-Black);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18.23px;
    background-color: var(--Off-White);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    z-index: 1;
}
.header__bottom span {
    display: inline-block;
    width: 12px;
    height: 7.41px;
    margin-left: 14px;
    background-image: url('./ASSETS/icons/mdi_keyboard_arrow_down.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
/* fin del header */

/* inicio del main */
.index__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* primera seccion */
.main__info-section {
    position: relative;
    width: 100%;
    height: 778px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Off-White);
}
.main__info-image {
    width: 195px;
    height: 195px;
    margin: 59px 0 40px;
    background-image: url('./ASSETS/images/bitcoin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section-compare {
    width: 288px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-compare h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--Warm-Black);
}
.section-compare p {
    margin-bottom: 48px;
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--Grey2);
}
/* inicio de la tablas de esta seccion */
.main__table-container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
/* este the one se hace con el fin de agregar otro contenedor porque no se mantenia en un tamaño fijo */
.theone {
    width: 220px;
    margin: 0 80px;
}
.main__table-container .main__table-one {
    width: 210px;
    scroll-snap-align: center;
}
.main__table-container .main__table-one h3{
    margin: 0 15px 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23.44px;
    color: var(--Bitcoin-Orange);
}
.main__table-container .main__table-one--blue h3{
    color: var(--Secondary-Blue);
}
.main__table-container td {
    width: 101px;
    height: 39px;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    background-color: var(--Just-White);
}
.main__table-container .file-one {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.36px;
    color: var(--Grey);
}
.main__table-container .file-two {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    color: var(--Grey2);
}
.main__table-container table span {
    width: 12px;
    height: 12px;
    display: inline-block;
}
.row-red {
    margin-left: 10px;
    background-image: url('./ASSETS/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.row-green {
    margin-left: 10px;
    background-image: url('./ASSETS/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.top-left-radius {
    border-radius: 8px 0 0 0;
}
.top-right-radius {
    border-radius: 0 8px 0 0;
}
.bottom-left-radius {
    border-radius: 0 0 0 8px;
}
.bottom-right-radius {
    border-radius: 0 0 8PX 0;
}
/* fin de la tabla */
.upgrade-date {
    width: 173px;
    height: 31px;
    margin: 16px auto 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Soft-Orange);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 14.52PX;
    color: var(--Warm-Black1);
}
.upgrade-date P {
    font-weight: 400;
}
.upgrade-date span {
    font-weight: 700;
}
.batata-image {
    position: absolute;
    bottom: -10.7px;
    width: 37.45px;
    height: 24.01px;
    background-image: url('./ASSETS/images/logo-batatabit2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__table-one--blue .upgrade-date {
    background-color: var(--Soft-Blue);
}
/* fin de la primera seccion */
/* inicio de la segunda seccion */
.main__benefits {
    width: 100%;
    height: 893px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Warm-Black);
}
.benefits__tittle {
    width: 288px;
    margin: 64px 0 24px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--Just-White);
}
.benefits__paragraph {
    width: 288px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--Grey2);
}
.section__cards {
    width: 288px;
    height: 152px;
    margin-bottom: 16px;
    background-color: var(--Warm-Black1);
}
.section__cards img {
    width: 24px;
    height: 24px;
    margin: 14px 0 10px 16px;
}
.section__cards h3 {
    margin: 0 0 10px 16px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 18px;
    color: var(--Just-White);
}
.section__cards p {
    width: 252px;
    height: 54px;
    margin: 0 20px 22px 16px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--Grey2);
}
/* fin de la seccion de beneficios */
/* inicio a la seccion de imagen bitcoin baby */
.image-section {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-image: url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/10/18/16345727785552.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.image-section__tittle {
    margin-top: 124px;
    font-size: 5.4rem;
    font-weight: 800;
    line-height: 26px;
    color: var(--Just-White);
}
/* fin de la seccion de imagen */
/* inicio de la seccion de planes */
.plans-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Off-White);
}
.plans-section h2 {
    width: 288px;
    margin: 64px 0 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.plans-section p {
    width: 288px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--Grey2);
}
.plans-card-container {
    width: 100%;
    height: 290px;
    margin: 30px 0 64px;
    padding-top: 20px;
    background-color: var(--Off-White);
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.cards {
    width: 200px;
    height: 260px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Just-White);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    scroll-snap-align: center;
}
.cards h3 {
    margin: 31px 0 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
}
.cards .card-price {
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;font-weight: 700;
    font-size: 5.2rem;
    line-height: 40.93px;
    color: var(--Warm-Black);

}
.cards .card-price span {
    font-weight: 500;
    font-size: 1.2rem;
    vertical-align: text-top;
    margin-right: 4px;
}
.cards .card-benefits {
    width: 158px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;font-weight: 500;
    font-size: 1.2rem;
    line-height: 14.52px;
    color: var(--Grey2);
}
.cards buttom {
    width: 151px;
    height: 48px;
    margin-bottom: 24px;
    background-color: var(--Off-White);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--Bitcoin-Orange);
    border-radius: 4px;
}
.cards buttom span {
    width: 24px;
    height: 24px;
    background-image: url(./ASSETS/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.card2 {
    position: relative;
}
.cards .recomended {
    position: absolute;
    width: 101px;
    height: 31px;
    margin: 0;
    top: -15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 31px;
    color: var(--Just-White);
    background-color: var(--Bitcoin-Orange);
    border-radius: 8px;
}
/* fin de la seccion de planes */
/* inicio del footer */
footer {
    height: 150px;
    background-color: var(--Bitcoin-Orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer li {
    list-style: none;
}
footer li a {
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--Just-White);
}